<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Wiki</title>
    <link rel="stylesheet" href="css/site.css">
</head>

<body>
    <div>
        <aside>
            <div class="center">
                <img class="logo" src="img/logo.png" alt="logo">
            </div>

            <nav>
                <a href="/">Main Page</a>
                <a href="/all-articles">All Articles</a>
                <form>
                    <input type="text">
                    <input type="submit" value="Search">
                </form>
                {{#if validUser}}
                <a href="/create">Create New Article</a>
                {{/if}}
            </nav>
        </aside>
        <div id="container">
            <header>
                {{#if validUser}}
                <span>Welcome, {{validUser.username}}!</span>
                <a href="/logout">[Logout]</a>
                {{else}}
                <a href="/login">Login</a>
                <a href="/register">Register</a>
                <span>Welcome, Guest!</span>
                {{/if}}
            </header>
            <main>
                <h1>Welcome to KingUni Wiki!</h1>
                <section id="featured">
                    <h2>Latests articles</h2>
                    {{#each theArticles}}
                    <article>
                        <h3>{{title}}</h3>
                        <div class='text'>
                        <p>
                            {{description}}
                        </p>
                        </div>
                        <div class="controls">
                            <a href="/article/{{_id}}">Read more</a>
                        </div>
                    </article>
                    {{/each}}
                </section>
            </main>
            <footer>
                KingUni Wiki &copy; 2020
            </footer>
        </div>
    </div>
</body>

</html>